<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Mom</title>
    <link rel="stylesheet" href="/style.css" charset="utf-8">
    <script type="text/javascript" src="/app.js">

    </script>
  </head>
  <body>
    <!-- Super secret Ruby Method = embedded ruby-->
    <%= yield %>

    <!-- End Super Secret Ruby Method processed on the server so the user never sees it.-->

  </body>
</html>
