<form action="/submit_form" method="post">
  <input type="text" name="name" value="" placeholder="Key of happy thing">
  <input type="text" name="awesome_thing" value="" placeholder="Value of happy thing">
  <input type="submit" value="Click Here">
  <!-- names are keys in the params hash. values are vals. -->
</form>
